.container{
  display: flex;
  flex: 1;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}

.inputLabel{
  display: flex;
  font-size: 1.6rem;
  color:black;
  letter-spacing: 0.02rem;
}
.inputText{
  display: flex;
  width:100%;
  resize: none;
  outline: none;
  background-color:inherit;
  margin-top:12px;
}
